<section class="wrapper">
  <div class="container-fostrap">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="../../assets/IAM-image.jpg"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">
                  <a (click)="checkAvailableBill('IAMRECHARGE')"
                    >IAM RECHARGES
                  </a>
                </h5>
                <p class="">TELEPHONIE ET INTERNET SIM</p>
                <div class="card-footer">
                  <a
                    (click)="checkAvailableBill('IAMRECHARGE')"
                    class="btn btn-dark"
                  >
                    Check Available bills
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="../../assets/REDAL.jpeg"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">REDAL</h5>
                <p class="card-text">Facture REDAL</p>
                <div class="card-footer">
                  <a (click)="checkAvailableBill('REDAL')" class="btn btn-dark">
                    Check Available bills
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="../../assets/AMANDIS.png"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">AMANDIS TANGER</h5>
                <p class="card-text">Facture AMANDIS tanger</p>
                <div class="card-footer">
                  <a
                    (click)="checkAvailableBill('AMANDISTANGER')"
                    class="btn btn-dark"
                  >
                    Check Available bills
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="../../assets/IAM-image.jpg"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">IAM FACTURES</h5>
                <ul>
                  <li>PRODUIT INTERNET SIM</li>
                  <li>PRODUIT FIX SIM</li>
                  <li>PRODUIT MOBILE SIM</li>
                </ul>
                <div class="card-footer">
                  <a
                    (click)="checkAvailableBill('IAMFACTURES')"
                    class="btn btn-dark"
                  >
                    Check Available bills
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="../../assets/LYDEC.jpg"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">LYDEC</h5>
                <p class="card-text">Facture LYDEC</p>
                <div class="card-footer">
                  <a (click)="checkAvailableBill('LYDEC')" class="btn btn-dark">
                    Check Available bills
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="../../assets/AMANDIS.png"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">AMANDIS CASABLANCA</h5>
                <p class="card-text">Facture AMANDIS casablanca</p>
                <div class="card-footer">
                  <a
                    (click)="checkAvailableBill('AMANDISCASA')"
                    class="btn btn-dark"
                  >
                    Check Available bills
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
